html{
    scroll-behavior: smooth;
    color:#ffffff;

}
h1{
    font-size: 80px;
}
p{
    font-size: xx-large;
}
footer{
    background-color: #be5e5e;
}
section {
    background-color: #be5e5e;
    height: 90vh;
    margin:0;
    padding:2.5rem 4rem;
  }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
#home{
   height: 50vh;
}
span{
    display: inline-block;
    margin: 0 auto;
}
#Menu, #home, #location,#review{
text-align: center;
}