html{
    scroll-behavior: smooth;
    color:#ffffff;

}
@font-face {
    font-family:tacofont , tacos;
    font-display: auto;
    font-style: normal;
    src: url("/font/tacoFont.ttf") format("truetype");
}
h1{
    font-size: 80px;
    font-family: tacofont;
}
.nav-link , .navbar-text{
    font-size: 50px;
    color: #ffffff;
}
.navbar-text{
    margin-left: 65%;
   color: #ffffff;
}
p{
    font-size: xx-large;
}
footer{
    background-color: #be5e5e;
}
section {
    background-color: #be5e5e;
    height: 90vh;
    margin:0;
    padding:2.5rem 4rem;
  }
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.title-1,.title-2,.title-3,.title-4{
    margin-top: -5%;
}

.hat{
    margin-top: -5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#home{
   height: 50vh;
}
span{
    display: inline-block;
    margin: 0 auto;
}
#Menu, #home, #location,#images{
text-align: center;
}